<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  

  
<!--     自动加载spring配置文件，这里的自动加载并不是说就不用调用获取，还是需要手动调用的 -->
   <context-param>  
    <param-name>contextConfigLocation</param-name>  
    <param-value>classpath:applicationContext*.xml</param-value>  
  </context-param> 
     
   <filter>
   <filter-name>Struts2Filter</filter-name>
   <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  
    <filter>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>com.hand.filter.PermissionFilter</filter-class>
  </filter> 

    <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping> 
  
  <filter-mapping>
   <filter-name>Struts2Filter</filter-name>
   <url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <!-- 配置Spring的监听器，用于初始化ApplicationContext对象 -->  
  <listener>  
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
  </listener>
</web-app>
